<div class="d-flex flex-column flex-shrink-0 p-3 sidebar" style="width: 280px">
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/admin-dashboard"
        class="nav-link text-black"
        aria-current="page"
      >
        Admin Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/add-company" class="nav-link text-black"> Add Company </a>
    </li>
    <li>
      <a routerLink="/client-dashboard" class="nav-link text-black">
        Client Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/add-client" class="nav-link text-black"> Add Client </a>
    </li>
    <li>
      <a routerLink="/order-dashboard" class="nav-link text-black">
        Order Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/add-order" class="nav-link text-black"> Add Order </a>
    </li>
  </ul>
</div>
